/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-22, 16:15:11
    Author     : Piotr
*/

#main-panel {
    -fx-background-image: url('/images/background.png');
    -fx-background-size: 1404, 1098;
    -fx-background-repeat: no-repeat;
    //-fx-background-color:greenyellow;
}
#button-custom{
    -fx-background-color:crimson;
}

#shipyard {
    -fx-background-image: url('/images/Shipyard.jpg');
    -fx-background-size: 654, 250;
    -fx-background-repeat: no-repeat;
    -fx-background-color:greenyellow;    
}
#defense {
    -fx-background-image: url('/images/Defense.jpg');
    -fx-background-size: 654, 250;
    -fx-background-repeat: no-repeat;
    -fx-background-color:greenyellow;
}


